@import "../../../assets/css/reset.css";
@import "../../../assets/css/common";
.brand {
    height:723px;
    margin-bottom: 124px;
    position: relative;
    max-width: 1920px;
    overflow: hidden;
    min-width: 1570px;
    &>img {
        margin-top: -130px;
    }
    .banner-txt {
        position: absolute;
        z-index: 1;
        top: 99px;
        width: 100%;
        padding: 0 50px;
        top: 200px;
    }
    .brand-txt {
        color: white;
        .english {
            font-family: eg_number;
            font-size: 73.58px;
        }
        .chinese {
            font-family: FangSong;
            font-size: 32.86px;
        }
    }
}
.news {
    padding: 0 50px;
    .ma {
        display: flex;
        justify-content: space-between;
        padding-bottom: 120px;
        .news-type {
            width: 365px;
            .h3 {
                margin-bottom: 5px;
                text-align: center;
            }
            .content {
                &.list {
                    margin-bottom: 55px;
                    background: rgba(83,149,149,0.2);
                    height: 496.474px;
                    ul {
                        padding-top: 70px;
                        li {
                            padding-left: 62px;
                            font-family: FangSong;
                            height: 24px;
                            line-height: 24px;
                            margin: 0 auto 44px;
                            font-size: 24px;
                            color: #666767;
                            cursor: pointer;
                            &.active {
                                border-radius: 17px;
                                line-height: 34px;
                                border: 2px solid #539595;
                            }
                        }
                    }
                }
                .common-show-img {
                    height: 465px;
                    .news-png {
                        position: absolute;
                        left: 90px;
                        top: 350px;
                        z-index:2;
                        width: 194px;
                    }
                }
            }
        }
        .news-list {
            width: 1050px;
            margin-top: -10px;
            h2 {
                color: #539494;
                margin-bottom: 60px;
                text-align: center;
                height: 62px;
                font-weight: normal;
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .english {
                    font-size: 56.65px;
                    line-height: 62px;
                    margin-right: 65px;
                    font-family: eg_number;
                }
                .chinese {
                    vertical-align: middle;
                }
            }
            .swiper-pagition {
                width: 193.5px;
                margin: 53px auto 94px;
                display: flex;
                justify-content: space-between;
                .spot {
                    width: 20px;
                    height: 20px;
                    border: 1px solid #539595;
                    background: #539595;
                    &.active {
                        background: #fff;
                    }
                }
            }
            .list {
                display: flex;
                flex-wrap: wrap;
                li {
                    margin-right: 49px;
                    margin-bottom: 87px;
                    background: #539595;
                    padding: 8px 10px;
                    width: 495px;
                    height: 420px;
                    position: relative;
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                    .item {
                        height: 100%;
                        .img {
                            height: 100%;
                            background: #539494;
                        }
                    }
                    .name {
                        position: absolute;
                        font-family: FangSong;
                        font-size: 18.44px;
                        color: #666767;
                        bottom: -30px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .pagination {
                max-width: 755px;
                margin: 0 auto;
                .page {
                    max-width: 400px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    &:after {
                        display: none;
                    }
                }
                .li {
                    cursor: pointer;
                    &.left {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &.right {
                        top: 0;
                        right: 0;
                        position: absolute;
                    }
                    &.active {
                        span {
                            background: #539595;
                        }
                    }
                }
            }
        }
    }
}
